<section class="container my-5">
  <form class="form-group" [formGroup]="registerForm" (ngSubmit)="update()" #formNgForm="ngForm">
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="userName" placeholder="userName">
      <div class="text-danger" *ngIf="formNgForm.submitted&&registerForm.controls.userName?.touched && registerForm.controls.userName?.errors?.required">
        UserName is required
      </div>
      <div class="text-danger" *ngIf="formNgForm.submitted&&registerForm.controls.userName?.touched && registerForm.controls.userName?.errors?.pattern">
        UserName should be characters only
      </div>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="phoneNum" placeholder="phoneNum">
      <div class="text-danger" *ngIf="formNgForm.submitted&&registerForm.controls.phoneNum?.touched && registerForm.controls.phoneNum?.errors?.pattern">
        Phone Number is not a valid format
      </div>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="position" placeholder="position">
      <div class="text-danger" *ngIf="formNgForm.submitted&&registerForm.controls.position?.touched && registerForm.controls.position?.errors?.required">
       Position is required
      </div>
    </div>
    <div class="mb-3">
      <select class="form-select" class="form-control" formControlName="type">
        <option value="" disabled>Select Type</option>
        <option value=false>Employee</option>
        <option value=true>Manager</option>
      </select>
    </div>

    <button class="btn btn-success" type="submit">
      <ng-container *ngIf="!isLoading; else loading">
        Update
      </ng-container>
      <ng-template #loading>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </ng-template>
      </button>
  </form>
</section>
